<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/web.Login</url-pattern>
  </servlet-mapping>
  <display-name>Personnel_JEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>web.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/web.Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter</display-name>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>web.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/web.Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>web.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/web.Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Plannification</display-name>
    <servlet-name>Plannification</servlet-name>
    <servlet-class>web.Plannification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Plannification</servlet-name>
    <url-pattern>/web.Plannification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ajouter1</display-name>
    <servlet-name>Ajouter1</servlet-name>
    <servlet-class>web.Ajouter1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajouter1</servlet-name>
    <url-pattern>/web.Ajouter1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>web.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/web.Modifier</url-pattern>
  </servlet-mapping>
</web-app>